:root{
    --branco-principal:#e0e0e0;
    --red-secundario:#d30c0c;
    --barra-de-pesquisa:#D9D9D9;  
    --cor-de-fundo:#681111;

}
body { background-color: var(--cor-de-fundo)
    color: var(--branco-principal);
}
